.contact {
    background: linear-gradient(to right,rgb(221, 227, 46),rgb(47, 218, 237));
}

.contact-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 500px;
}

.contact-item {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  font-size: 16px;
  color: black;
}

.contact-item a {
  text-decoration: none;
  color: black;
}

.contact-item a:hover {
  color: #4f46e5;
}

.contact-icon {
  font-size: 30px;
  color: #4f46e5;
}
